Package: xyz.willy.zebra
Name: 2e's Zebra
Version: 1.1.36
Architecture: iphoneos-arm
Depends: dpkg, uikittools, firmware (>= 9.0)
Description: A Useful Package Manager
Maintainer: Zebra Team <team@getzbra.com>
Author: Zebra Team <team@getzbra.com>
Section: Packaging
Icon: file:///Applications/Zebra.app/AppIcon60x60@3x.png

